@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: azure;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: teal;
}

button {
  padding: 10px 68px;
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
