@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(https://img.freepik.com/free-vector/body-mass-index-weight-control-with-bmi-healthy-unhealthy-lifestyle-flat-vector-illustration-fitness-indicator-before-after-diet-overall-health-body-fat-scale-concept_88138-795.jpg?w=1060&t=st=1680192347~exp=1680192947~hmac=727d4428e9559d303179cae179babab8d120ef90992895242180ebd7905852f7);
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: slateblue;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 30%;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  padding: 13px;
  margin-top: 10px;
  width: 15%;
  background-color: slateblue;
  color: white;
  border: none;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}
